body {
    /*background: url(../Img/burger.jpg) no-repeat center top fixed;
    background-size: cover;*/
    background-color: #f9edd9;
    font-size: 2.5em;
}

h1, h2, h3 {
    font-weight: 900;
}

hr {
    border-color: #fd972f;
}

.desktop-header {
    width: 100%;
    margin-top: 20px;
    display: none;
}

.desktop-header td {
    border: none;
}

.logo {
    width: 25%;
}

.desktop-header .nav {
    text-align: right;
}

.desktop-header .nav ul {
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.desktop-header .nav li {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0;
}

.desktop-header .nav a {
    color: #000;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.mobile-header {
    text-align: center;
}

.mobile-header img {
    text-align: center;
    max-width: 60%;
    margin-top: 20px;
}

.mobile-header .nav ul {
    font-size: 4rem;
    margin: 0;
    padding: 0 0 40px 0;
    list-style: none;
}

.mobile-header .nav li {
    margin: 0 0 0 0;
    padding: 0;
}

.mobile-header .nav a {
    color: #000;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.spacer {
    height: 500px;
    height: 80vh;
}

/*
This will show the 'Hungry?' rollover
.spacer:hover {
    background: url(../Img/logo.png) no-repeat center center;
}
*/

.section .columns {
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    background-color: #f7d8a5;
    /*background-color: rgba(255, 236, 219, 0.8);*/
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5rem;
}

.section .columns.zeropadding {
    padding: 0;
    overflow: hidden;
}

.section .columns.zeropadding img {
    display: block;
}

.section .columns.thumbnail {
    padding: 10px;
}

.section .columns.thumbnail img {
    display: block;
}

.section .columns.thumbnail > div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.section .columns.thumbnail > div > a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 600px) {
    .desktop-header {
        display: table;
    }
    .mobile-header {
        display: none;
    }
}

@media (min-width: 1100px) {
    .logo {
        width: 18%;
    }
    .desktop-header .nav ul {
        font-size: 3rem;
    }
}